spring:
  application:
    name: user-service
  datasource:
      url: ${DB_URL}
      username: ${DB_USERNAME}
      password: ${DB_PASSWORD}
      driver-class-name: org.postgresql.Driver
      hikari:
            maximum-pool-size: 10
            minimum-idle: 2
            pool-name: user-service-hikari
            connection-timeout: 30000
            idle-timeout: 600000
            max-lifetime: 1800000

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
      properties:
        hibernate:
          format_sql: true
          jdbc.lob.non_contextual_creation: true
          default_schema: product
      show-sql: false

  jackson:
    time-zone: UTC
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false


management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never
app:
  security:
    jwt:
      secret: ${JWT_SECRET}
      access-expiration-ms: 3600000
      refresh-expiration-ms: 86400000